.desktop {
  background-color: #CCF2FF; /* ฟ้าอ่อน */
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.desktop .overlap-group-wrapper {
  background-color: #CCF2FF; /* ฟ้าอ่อน */
  overflow: hidden;
  width: 939px;
  height: 1030px;
}

.desktop .rectangle {
  height: 1030px;
  top: 0;
  background: linear-gradient(
    360deg,
    rgba(204, 242, 255, 0) 0%, /* ปรับจากสีเดิมให้โปร่งใสเริ่มต้นจาก #CCF2FF */
    rgba(204, 242, 255, 1) 89%  /* จบที่ #CCF2FF */
  );
  position: absolute;
  width: 939px;
  left: 0;
}
